@import url(http://fonts.googleapis.com/css?family=Roboto);

:root {
  --white: #ffffff;
}

.centered {
  position: relative;
  padding-right: 100px;
  background-color: #f37320;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileName {
  float: right;
  margin-top: 20px;
  color: var(--white);
  padding-left: 10px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: normal;
}

.logoSection {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.user_name{
  margin-left: 5px;
  color:#ffffff;
  font-weight: 400;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 14px;
  cursor: pointer;
}

.profileSection {
  display: flex;
  flex-direction: row;
  margin-right: -70px;
}

.profile_img {
  margin-top: 13px;
  float: right;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.arrowMark {
  float: right;
  color: var(--white);
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}
