@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
  font-size: roboto;
}

:root {
  --white: #ffffff;
}

.centered {
  position: relative;
  padding-right: 100px;
}

.profileName {
  float: right;
  margin-top: 20px;
  color: var(--white);
  padding-left: 10px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: normal;
}
.profile_img {
  margin-top: 13px;
  float: right;
  width: 32px;
  height: 32px;
}

.arrowMark {
  float: right;
  color: var(--white);
  margin-top: 20px;
  margin-left: 10px;
}
