@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
:root {
  --white: #ffffff;
  --grey: #6f6f6f;
  --orange: #f37321;
  --blue: #026ae3;
  --red: #ff0000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#intro {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: url(../../assets/Images/bglandingpage2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  max-width: 1300px;
  margin: 0 auto;
}

.left-col {
  flex: 1;
  margin-bottom: 50px;
}

.left-col h1 {
  font-size: 65px;
  line-height: 3rem;
  margin-bottom: 2rem;
  color: var(--white);
  padding-bottom: 38px;
  border-bottom-style: solid;
  border-bottom-width: 0.1rem;
  width: fit-content;
  font-family: Roboto;
  font-weight: normal;
}

.left-col p {
  font-size: 40px;
  line-height: 1.9rem;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Roboto;
}

.right-col {
  flex: 1;
}

.right-col form h1 {
  font-size: 20px;
  font-weight: normal;
  color: var(--grey);
  text-align: center;
  margin-bottom: 25px;
  font-family: Roboto;
}
.enphase_installer {
  color: var(--orange);
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  font-size: 16px;
  font-family: normal;
  font-family: Roboto;
}

.enlighten {
  margin-top: 27.5px;
  margin-bottom: 18px;
  width: 373px;
  text-align: center;
  font-weight: normal;
  font-family: Roboto;
  font-size: 14px;
  color: var(--grey);
}

.right-col .form-container {
  background-color: var(--white);
  padding: 30px;
  border-radius: 5px;
}

.field-group {
  position: relative;
  margin-bottom: 15px;
}

.toast {
  background-color: var(--red);
  color: var(--white);
}

/* .right-col .form-input-fields {
  border-radius: solid 4px;
  border-bottom-width: thin;
  width: 100%;
  padding-left: 5px;
  outline: 0;
  font-size: 16px;
  border-radius: var(--grey);
} */

/* .right-col .form-input-fields :focus {
  outline: none;
  background-color: var(--white);
} */

.right-col button[type="submit"] {
  width: 100%;
  height: 48px;
  color: white;
  background-color: var(--orange);
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 25px;
}

.right-col button:hover {
  background-color: var(--orange);
}

.right-col .formlink {
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: normal;
  margin-top: 30px;
}

.right-col .formlink a {
  text-decoration: none;
}

.right-col .signup {
  display: flex;
  align-items: center;
  float: left;
  color: var(--blue);
}

.right-col .form__links {
  float: right;
  color: var(--blue);
}

.password-icon {
  position: absolute;
  right: 5px;
  cursor: pointer;
  margin-top: 25px;
}

@media only screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  .left-col {
    text-align: left;
    padding-right: 50px;
    padding-left: 20px;
  }

  .left-col h1 {
    font-size: 96px;
    line-height: 5.5rem;
  }

  .left-col p {
    font-size: 48px;
  }

  .right-col {
    max-width: 550px;
    padding-left: 100px;
  }

  .right-col .form-container {
    padding: 40px;
  }
}
