.dialogStyles {
  width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  padding: 0px 20px 42px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
    color: #f3731f;
}

.dialogCloseButtonStyles {
  margin-bottom: 15px;
  padding: 3px 8px;
  cursor: pointer;
  /* border-radius: 50%; */
  border: "none";
  width: "30px";
  height: "30px";
  font-weight: "bold";
  align-self: flex-end;
  background-color: #f3731f;
}
