:root {
  --orange: #f37320;
  --white: #ffffff;
}

.centered {
  position: relative;
  background-color: var(--orange);
  height: 57px;
}

.logo {
  margin-top: 13px;
  margin-left: 31px;
  width: 28px;
  height: 28px;
}

.Grid {
  position: absolute;
  bottom: 12px;
  left: 71px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700px;
  height: 24px;
  color: var(--white);
}
