:root {
  --blue: #026ae3;
  --white: #ffffff;
  --grey: #6f6f6f;
}

.logo_enphase {
  margin-top: 11px;
  margin-left: 33px;
  height: 22px;
}

.copyright {
  position: absolute;
  top: 16px;
  margin-left: 135px;
  font-size: 14px;
  font-weight: normal;
  color: var(--grey);
}

.footer_part {
  position: fixed;
  height: 47px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0px -3px 6px #00000029;
}

.copyright a {
  text-decoration: none;
  color: var(--blue);
}

.modalClass {
  text-align: center;
  margin-top: 100px;
}

@media only screen and (min-width: 1000px) {
  .footer_part {
    position: fixed;
    background-color: var(--white);
  }

  .logo_enphase {
    margin-top: 4px;
    margin-left: 41px;
    height: 28px;
  }

  .copyright {
    position: absolute;
    top: 12px;
    margin-left: 192px;
  }
}
