@import url(http://fonts.googleapis.com/css?family=Roboto);

.dashboardPage {
  padding: 10px;
}

.dashboardPage span {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  font-family: Roboto;
  margin-left: 20px;
  top: 20px;
}

.welcome {
  padding-left: 70px;
  padding-top: 48px;
  font: normal normal bold 41px/29px Roboto;
}

@media only screen and (min-width: 1000px) {
  .dashboardPage span {
    margin-left: 80px;
  }
}
